{% extends 'shared/layout.html' %}

{% block title %}
	صفحه تماس با ما
{% endblock %}

{% block content %}
<div class="container sec" id="">
      <div class="content-title">
        <h3 class="h3-title">تماس با ما</h3>
      </div>
      <div class="clearfix"></div>
      <div class="content-body">
        <div class="row">
          <div class="col-md-8 col-lg-8 wow fadeInRight">



            <form class="contact-form" action="{% url 'contact_us' %}" method="post">
                 {% csrf_token %}
                            {{ form.full_name.label_tag }}
                                {{ form.full_name }}
                                {{ form.full_name.errors }}

                                 {{ form.email.label_tag }}
                                {{ form.email }}
                                {{form.email.errors }}

                                {{ form.title.label_tag }}
                                {{form.title }}
                                {{ form.title.errors }}

                                {{ form.message.label_tag }}
                                {{ form.message }}
                                {{form.message.errors }}

              <button type="submit" name="submit">ارسال پیام <span class="lnr lnr-arrow-left"></span></button>
            </form>




          </div>
          <div class="col-md-4 col-lg-4 contact-info wow fadeInLeft">
            <ul>
              <li><span class="icon lnr lnr-map-marker"></span> آدرس : {{ site_setting.address }}</li>
              <li><span class="icon lnr lnr-laptop-phone"></span> {{ site_setting.phone }}</li>
              <li><span class="icon lnr lnr-envelope"></span> {{ site_setting.email }}</li>
              <li><span class="icon lnr lnr-checkmark-circle"></span> <p>{{ site_setting.about_us_text }}</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}